<div id="barra" class="">
    <div class="flex-container">

        <div id="mButton" style="cursor: pointer;">
            <!-- onclick="locatiom.href='link'" -->
            <div [routerLink]="['catalogue']">
                <img id="img-menu" alt="Catalog" src="assets/img/menu/gruppo.png">
            </div>
            <div class="button-description">
                <P>Catalog</P>
            </div>
        </div>
        
        <div id="mButton" style="cursor: pointer;">
            <div [routerLink]="['boards']">
                <img id="img-menu" alt="BOARDS" src="assets/img/menu/gruppo.png">
                <div class="button-description">
                    <P>Boards</P>
                </div>
            </div>
        </div>

        <div id="mButton" style="cursor: pointer;">
            <div [routerLink]="['boards']">
                <img id="img-menu" alt="ORDERS" src="assets/img/menu/gruppo.png">
                <div class="button-description">
                    <P>Orders</P>
                </div>
            </div>
        </div>

    </div>
</div>    