<div id="barra" class="">
    <div class="flex-container">

        <div id="mButton" [class.selected-page]="currentPage === 1" (click)="goToCatalogue()">
            <div>
                <div>
                    <fa-icon id="btn-icon" [icon]="faBookOpen" size="2x"></fa-icon>
                </div>
                <div class="button-description">
                    <p>Catalog</p>
                </div>
            </div>
        </div>
        
        <div id="mButton" [class.selected-page]="currentPage === 2" (click)="goToBoards()">
            <div>
                <div>
                    <fa-icon id="btn-icon" [icon]="faDraftingCompass" size="2x"></fa-icon>
                </div>
                <div class="button-description">
                        <p>Boards</p>
                </div>
            </div>
        </div>

        <div id="mButton" [class.selected-page]="currentPage === 3" (click)="goToOrders()">
            <div>
                <div>
                    <fa-icon id="btn-icon" [icon]="faClipboardCheck" size="2x"></fa-icon>
                </div>
                <div class="button-description">
                    <p>Orders</p>
                </div>
            </div>
        </div>

    </div>
</div>    