<div id="barra" class="">
    <div class="flex-container">

        <div id="mButton" style="cursor: pointer;">
            <!-- onclick="locatiom.href='link'" -->
            <div [routerLink]="['catalogue']">
                <!-- <img id="img-menu" alt="Catalog" src="assets/img/menu/gruppo.png"> -->
                <div><fa-icon [icon]="faBookOpen" 
                [styles]="{'color': 'dc3545'}" size="2x"></fa-icon></div>
                <div class="button-description">
                    <p>Catalog</p>
                </div>
            </div>
        </div>
        
        <div id="mButton" style="cursor: pointer;">
            <div [routerLink]="['boards']">
                <div><fa-icon [icon]="faDraftingCompass" 
                    [styles]="{'color': 'dc3545'}" size="2x"></fa-icon></div>
                <div class="button-description">
                        <p>Boards</p>
                </div>
            </div>
        </div>

        <div id="mButton" style="cursor: pointer;">
            <div [routerLink]="['orders']">
                <div><fa-icon [icon]="faClipboardCheck" 
                    [styles]="{'color': 'dc3545'}" size="2x">
                </fa-icon></div>
                <div class="button-description">
                    <p>Orders</p>
                </div>
            </div>
        </div>

    </div>
</div>    