<div class="flex-container search-categories-container">
    <div class="flex-item">
        <div>
            <div class="row">
                <div class="col-6" style="margin: 0%;">
                    <mat-form-field class="autocomplete-search-list">
                        <mat-chip-list #chipList aria-label="Remove Product">
                          <mat-chip
                            *ngFor="let product of selectedProducts"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="removeProduct(product)">
                            {{ product.item.description }}
                            <mat-icon matChipRemove *ngIf="removable">
							<fa-icon [icon]="faTimesCircle" size="1x">
                                </fa-icon>
								</mat-icon>
                          </mat-chip>
                          <input
                            id="productSearch"
                            placeholder="{{ 'searchForProducts' | translate }}"
                            type = "input"
                            [value]="searchKey"
                            (keyup.enter)="search()">
<!--                             #productsInput
                            [formControl]="searchProductControl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addProduct($event)" >
-->
                            
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedProduct($event)">
                          <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                            <div (click)="optionClickedProduct($event, product);">
                                <mat-checkbox [checked]="product.selected" 
								(change)="toggleSelectionProduct(product)" (click)="$event.stopPropagation()">
                                    {{ product.item.description }}
                                </mat-checkbox>
                            </div>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </div>
                <div class="col-6" style="margin: 0%; padding: 0%">
                    <mat-form-field class="autocomplete-search-list">
                        <mat-chip-list #chipGroupsList aria-label="Remove Groups">
                          <mat-chip
                            *ngFor="let group of selectedGroups"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="removeGroup(group)">
                            {{ group.group.description }}
                            <mat-icon matChipRemove *ngIf="removable"><fa-icon [icon]="faTimesCircle" 
                            size="1x">
                                </fa-icon></mat-icon>
                          </mat-chip>
                          <input
                            id="groupSearch"
                            placeholder="{{ 'searchForGroup' | translate }}"
                            #groupsInput
                            [formControl]="searchGroupControl"
                            [matAutocomplete]="auto2"
                            [matChipInputFor]="chipGroupsList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addGroup($event)"
                            >
                        </mat-chip-list>
                        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedGroup($event)">
                          <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
                            <div (click)="optionClickedGroup($event, group);">
                                <mat-checkbox [checked]="group.selected" (change)="toggleSelectionGroup(group)" 
                                (click)="$event.stopPropagation()">
                                    {{ group.group.description }}
                                </mat-checkbox>
                            </div>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-item">
        <div style="padding-left: 35%">
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        {{ 'preferred' | translate }}
                    </label>
                    <app-switch-button
                        class="ml-auto"
                        [value]="searchOnlySelected"
                        (changeValue)="changeOnlySelected($event)"
                    ></app-switch-button>
                </div>
                <div class="col">
                    <button id="search" class="btn btn-primary" (click)="search()">
                            <span>{{ 'search' | translate }}&nbsp;&nbsp;&nbsp;</span>  <fa-icon [icon]="faSearch" size="1x">
                            </fa-icon>
                        </button>
                </div>

                <div class="col">
                    <div></div>
                </div>

            </div>
        </div>
    </div>

</div>