<div class="flex-container search-categories-container">
    <div class="flex-item">
        <div>
            <div class="row">
                <div class="col-7" style="margin: 0%; padding-left: 5%">
                    <mat-form-field class="search-groups">
                        <input type="text" matInput [matAutocomplete]="auto" placeholder="Search">
                    </mat-form-field>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let group of groupsNames" [value]="group">{{group}}</mat-option>
                      </mat-autocomplete>
                </div>
                <div class="col-5" style="margin: 0%; padding: 0%">
                  <div ngbDropdown #myDrop="ngbDropdown" [autoClose]="false">
                    <button id="dropdownCategories" ngbDropdownToggle ngbDropdownAnchor (focus)="myDrop.open()" class="chooseCategories">Choose categories</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-4"><button ngbDropdownItem (click)="setCategory1()" [class.selected-category]="category1">Category 1</button></div>
                                    <div class="col-4"><button ngbDropdownItem (click)="setCategory2()" [class.selected-category]="category2">Category 2</button></div>
                                    <div class="col-4"><button ngbDropdownItem (click)="setCategory3()" [class.selected-category]="category3">Category 3</button></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-4"><button ngbDropdownItem (click)="setCategory4()" [class.selected-category]="category4">Category 4</button></div>
                                    <div class="col-4"><button ngbDropdownItem (click)="setCategory5()" [class.selected-category]="category5">Category 5</button></div>
                                    <div class="col-4"><button ngbDropdownItem (click)="setCategory6()" [class.selected-category]="category6">Category 6</button></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button id="search" class="button-search">
                        <span>Search   </span>  <fa-icon [icon]="faSearch" 
                        [styles]="{'color': 'dc3545'}" size="1x">
                        </fa-icon>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-item">
        <div style="padding-left: 35%;">
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        Preferito
                    </label>
                    <app-switch-button
                        class="ml-auto"
                        [value]="searchOnlySelected"
                        (changeValue)="changeOnlySelected($event)"
                    ></app-switch-button>
                </div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
    </div>
</div>