.flex-container {
    /* We first create a flex layout context */
    display: flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: column wrap;
  
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
  }
 
  .flex-item {
    padding: 2%;
    margin-top: 2%;
    text-align: center;
  }

ul {
    list-style-type: none;
    display: inline;
 }

.search-categories-container {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #d8d6d6;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}

.selected-category {
  border: 1px solid lightblue;
  background-color: black;
}

.search-categories-button {
  border: 2px solid lightblue; 
}

.button-search {
  background-color: #ffffff;
}

.search-groups {
  border: 2px solid #d8d6d6;
  width: 100%;
}