<div class="flex-container search-categories-container">
    <div class="flex-item">
        <div class="row">
            <div class="col-8">
                <div class="search-categories-button">
                    <mat-form-field class="search-groups">
                        <input type="text" matInput [matAutocomplete]="auto" placeholder="Search" >
                    </mat-form-field>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let group of groupsNames" [value]="group">{{group}}</mat-option>
                      </mat-autocomplete>
                </div>
            </div>
            <div class="col-4">
                <button id="search" class="button-search">
                    <span>Search   </span>  <fa-icon [icon]="faSearch" 
                    [styles]="{'color': 'dc3545'}" size="1x">
                    </fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="flex-item">
        <div style="padding-left: 35%;">
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        Preferito
                    </label>
                    <app-switch-button
                        class="ml-auto"
                        [value]="searchOnlySelected"
                        (changeValue)="changeOnlySelected($event)"
                    ></app-switch-button>
                </div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
    </div>
</div>