<div id= "mx" class="product-catalogue-container">
    <div class="align-items-center justify-content-center"> <!--style="width: 18rem; -->
        <div class="hoverWrapper">
            <img class="img-fluid card-img-top" src="assets/img/items/Item1.PNG" sizes="(max-width: 260px) 100vw, 260px"
                width="260" height="260">

            <img id="add-to-favorite" class="img-fluid" src="assets/img/items/star.png">

            <div class="">
                <div class="row align-items-center no-gutters justify-content-between">
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title" class="card-title">Code</h6>
                    </div>
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title-id" class="card-title">{{ item.code }}</h6>
                    </div>
                </div>
                <div class="row align-items-center no-gutters justify-content-between">
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title" class="card-title">Description</h6>
                    </div>
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title-id" class="card-title">{{ item.description }}</h6>
                    </div>
                </div>

                <div class="row align-items-center no-gutters justify-content-between">
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title" class="card-text">Price &euro;</h6>
                    </div>
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title-id" class="card-title">{{ item.price }}</h6>
                    </div>
                </div>
                <div class="row align-items-center no-gutters justify-content-between">
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title" class="card-text">Stock</h6>
                    </div>
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title-id" class="card-title">
                            <fa-icon id="circle-green" *ngIf="item.stock" [icon]="faCircle"></fa-icon>
                            <fa-icon id="circle-red"  *ngIf="!item.stock" [icon]="faCircle"></fa-icon>
                        </h6>
                    </div>
                </div>
                <div class="quantity">
                    <form [formGroup]="addProductForm">
                        <div class="row align-items-center no-gutters">
                            <div id="col-width" class="col-md-6">
                                <div class="row">
                                    <!-- <div class="col">
                                        <span style="padding-left: 20px">&nbsp;</span>
                                    </div> -->
                                    <div id="col-spacer" class="col align-items-right text-right">
                                        <input type="number" formControlName="qty" step="1" min="0" max="9999"
                                            name="" value="{{ quantity }}" title="Quantity" size="2" pattern="[0-9]*"
                                            inputmode="numeric" aria-labelledby="">

                                    </div>
                                </div>

                            </div>

                            <div id="col-width" class="col-md-6 text-left" style="padding-left: 0.5em;">
                                <button (click)="addProduct()" 
                                    style="background-color: transparent; border: transparent;">
                                    <fa-icon id="btn-icon" [icon]="faShoppingCart" size="2x">
                                    </fa-icon>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div *ngIf="quantityError" class="row align-items-center no-gutters justify-content-between">
                        <div class="col-md-8">
                            <div class="alert alert-danger">
                                <span>Quantity is not valid</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>