<div class="product-catalogue-container">
    <div class="align-items-center justify-content-center" style="width: 18rem;">
        <div class="hoverWrapper">
            <img class="img-fluid card-img-top" src="assets/img/items/Item1.PNG"
                sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">
            
            <img id="add-to-favorite" class="img-fluid" 
                src="assets/img/items/puntina.png">

            <div class="">
                <div class="row align-items-center no-gutters justify-content-between">
                    <div class="col-md-6">
                        <h6 class="card-title">Code</h6>
                    </div>
                    <div  class="col-md-6">
                        <h6 id="card-title-id" class="card-title">{{ item.code }}</h6>
                    </div>
                </div>
                <div class="row align-items-center no-gutters justify-content-between">
                    <div class="col-md-6">
                        <h6 class="card-title">Description</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 id="card-title-id" class="card-title">{{ item.description }}</h6>
                    </div>
                </div>

                <div class="row align-items-center no-gutters justify-content-between">
                    <div class="col-md-6">
                        <h6 class="card-text">Price &euro;</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 id="card-title-id" class="card-title">{{ item.price }}</h6>
                    </div>
                </div>
                <div class="row align-items-center no-gutters justify-content-between">
                    <div class="col-md-6">
                        <h6 class="card-text">Stock</h6>
                    </div>
                    <div class="col-md-6">
                        <h6 id="card-title-id" class="card-title"><fa-icon *ngIf="item.stock" [icon]="faCircle" 
                            [styles]="{'color': 'green'}"></fa-icon><fa-icon *ngIf="!item.stock" [icon]="faCircle" 
                            [styles]="{'color': 'red'}"></fa-icon></h6>
                    </div>
                </div>
                <div class="quantity" style="margin-left: 5%">
                    <div class="row align-items-center no-gutters">
                        <div class="col-md-auto">
                            <div>
                                <input id="modify_qty" type="number" #selectedQuantity
                                    step="1" min="0" max="9999" name=""
                                    value="{{ quantity }}" title="Quantity" size="2" pattern="[0-9]*"
                                    inputmode="numeric" aria-labelledby="">
                            </div>
                        </div>

                        <div class="col-md-auto">
                            <div style="padding-left: 150%;">
                                <button (click)="addProduct()" style="background-color: transparent;">
                                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" size="2x">
                                    </fa-icon>
                                </button>
                            </div>
                        </div>


                    </div>
                    <div *ngIf="quantityError" class="row align-items-center no-gutters justify-content-between">
                        <div class="col-md-8">
                            <div class="alert alert-danger">
                                <span>Quantity is not valid</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>