<div id="mx" class="product-catalogue-container" style="border: solid 1px trasparent; padding-bottom: 1%; width: 18rem;">

    <div class="align-items-center justify-content-center">
        <!--style="width: 18rem; -->
        <div class="hoverWrapper">
            <div class="containerA">
                <!--<img *ngIf="thumbnail" class="img-fluid card-img-top" id='pic' [src]='thumbnail'
                    sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">

                <img *ngIf="svgThumbnail"
                    [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/svg+xml;base64, '+ svgThumbnail)"
                    sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">

                <img *ngIf="thumbnail === undefined && svgThumbnail === undefined" class="img-fluid card-img-top"
                    src="assets/img/items/No_Image_available.png" sizes="(max-width: 260px) 100vw, 260px" width="260"
                    height="260">-->
                
                <img id="genericPic{{item.code}}{{item.family}}" style="display: none;">
                <img *ngIf="displayNoImage" class="img-fluid card-img-top" src="assets/img/items/No_Image_available.png" sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">

                <button *ngIf="item.preferred === true;else other_content" (click)="addToFavorite()" class="btn"
                    style="font-size:24px; border: 0px; background-color: transparent;"><i class="fa fa-star"
                        style="font-size:24px;color:#dc3545">
                    </i></button>

                <ng-template #other_content>
                    <!--<img id="add-to-favorite" class="img-fluid" src="assets/img/items/star_unselected.png" (click)="addToFavorite()">-->
                    <button (click)="addToFavorite()" class="btn"
                        style="font-size:24px; border: 0px; background-color: transparent;">
                        <i class="fa fa-star-o" style="font-size:24px;color:#dc3545"></i></button>
                </ng-template>
            </div>

            <!--<img *ngIf="item.preferred === true;else other_content" id="add-to-favorite" class="img-fluid" src="assets/img/items/star_lm_red.png" (click)="addToFavorite()">-->

            <div class="">
                <div class="row align-items-center no-gutters justify-content-between">
                    <!--<div id="col-width" class="col-md-6">
                        <h6 id="card-title" class="card-title">Code</h6>
                    </div>
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title-id" class="card-title">{{ item.code }}</h6>
                    </div> -->
                    <div class="col-md-12">
                        <h6 class="card-description1">{{ item.code }}</h6>
                    </div>
                </div>

                <div class="row align-items-center no-gutters justify-content-between">
                    <div class="col-md-12">
                        <h6 id="item-description" class="card-description2">{{ item.description }}</h6>
                    </div>
                </div>

                <div class="row align-items-center no-gutters justify-content-between">
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-price-id" class="card-title">{{ strPrice }}</h6>
                    </div>
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-currency-id" class="card-text">{{ item.currency }}</h6>
                    </div>
                </div>

                <div class="row align-items-center no-gutters justify-content-between">
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title" class="card-text">Stock</h6>
                    </div>
                    <div id="col-width" class="col-md-6">
                        <h6 id="card-title-id" class="card-title">
                            <fa-icon id="circle-red"
                                *ngIf="item.stockIndicator === undefined || item.stockIndicator === '' || item.stockIndicator === '3'"
                                [icon]="faCircle"></fa-icon>
                            <fa-icon id="circle-yellow" *ngIf="item.stockIndicator === '2'" [icon]="faCircle"></fa-icon>
                            <fa-icon id="circle-green" *ngIf="item.stockIndicator === '1'" [icon]="faCircle"></fa-icon>
                        </h6>
                    </div>
                </div>

                <div class="quantity">
                    <form [formGroup]="addProductForm">
                        <div class="row align-items-center no-gutters">
                            <div class="col-md-2">&nbsp;</div>
                            <div class="col-md-auto" style="margin-bottom: 1%">
                                <input name="qty" type="number" #selectedQuantity
                                    class="input-number input-number-adaptive" step="1" min="0" max="" name=""
                                    value="{{ quantity }}" title="{{ 'numberOfPieces' | translate }}" size="2"
                                    pattern="[0-9]*" inputmode="numeric" aria-labelledby=""
                                    (change)="updateQty($event)">
                            </div>
                            <div class="col" style="margin-left: 1%; margin-bottom: 1%;">
                                <button type="button" class="sub-product" (click)="removeProduct()">
                                    <!-- - -->
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                    <!--<i class="fa fa-star-o" style="font-size:24px;color:#dc3545"></i>-->
                                </button>
                            </div>

                            <div class="col" style="margin-left: 1%; margin-bottom: 1%;">
                                <button type="button" id="btn-add-product" class="add-product" (click)="addOneProduct()">
                                    <!-- + -->
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>

                            <div class="col" style="margin-left: 1%; margin-bottom: 1%;">
                                <button type="button" style="background-color: 
                                                transparent; border: solid 1px #dc3545;
                                                padding-top: 2px;padding-bottom: 1px;" (click)="addProduct()">
                                    <fa-icon id="btn-icon" [icon]="faShoppingCart" size="1x">
                                    </fa-icon>
                                </button>
                            </div>

                            <div class="col" style="margin-left: 1%; margin-bottom: 1%;">
                                <button type="button" style="background-color: 
                                                transparent; border: solid 1px #dc3545;
                                                padding-top: 2px; padding-bottom: 1px;
                                                padding-left: 7px; padding-right: 7px;" (click)="openModal(template)">
                                    <fa-icon id="btn-icon" [icon]="faInfoCircle" size="1x">
                                    </fa-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngIf="quantityError" class="row align-items-center no-gutters justify-content-between">
                    <div class="col-md-8">
                        <div class="alert alert-danger">
                            <span>{{ 'quantityError' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template let-modal>
    <div class="">
        <div class="modal-header">
            <h4 class="modal-title">{{ itemDetail.code }}-{{ itemDetail.description }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-8">
                    <img *ngIf="thumbnail" class="img-fluid card-img-top" id='pic' [src]='thumbnail'
                        sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">

                    <img *ngIf="svgThumbnail"
                        [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/svg+xml;base64, '+ svgThumbnail)"
                        sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">

                    <img *ngIf="thumbnail === undefined && svgThumbnail === undefined" class="img-fluid card-img-top"
                        src="assets/img/items/No_Image_available.png" sizes="(max-width: 260px) 100vw, 260px"
                        width="260" height="260">
                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ itemDetail.code }}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ itemDetail.description }}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{'itemDetail.category' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ itemDetail.prodhx }} </h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.customerCode' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ itemDetail.kdmat }}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.price' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ getPrice(itemDetail.price) }}&nbsp;{{itemDetail.currency}}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.stock' | translate}}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>
                                <fa-icon id="circle-red"
                                    *ngIf="itemDetail.stockIndicator === undefined || itemDetail.stockIndicator === '' || itemDetail.stockIndicator === '3'"
                                    [icon]="faCircle"></fa-icon>
                                <fa-icon id="circle-yellow" *ngIf="itemDetail.stockIndicator === '2'" [icon]="faCircle">
                                </fa-icon>
                                <fa-icon id="circle-green" *ngIf="itemDetail.stockIndicator === '1'" [icon]="faCircle">
                                </fa-icon>
                            </h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.minDeliveryQty' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ itemDetail.minQuantity }}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.maxDeliveryQty' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ itemDetail.maxQuantity }}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.customerNote' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ itemDetail.noteCliente }}</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.documentation' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>
                                <a *ngIf="itemDetail.documentazione && itemDetail.documentazione !== ''"
                                    [href]="getUrl()" target="_blank">
                                    <i class="fa fa-file" aria-hidden="true" style="color: #dc3545;"></i>
                                </a>
                            </h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.generalNote' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ itemDetail.noteGenerali }}</h6>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-right" style="text-align: left;">
                            <h6>{{ 'itemDetail.substituteMaterialNum' | translate }}:</h6>
                        </div>
                        <div class="col-left" style="text-align: left;">
                            <h6>{{ itemDetail.matNrSub }} <span *ngIf="itemDetail.maktxSub">-</span>
                                {{ itemDetail.maktxSub }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
