ul.li{
    color: white;
}

ul {
    list-style-type: none;
}

.visuallyhidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
  label {
    cursor: pointer;
  }
  .spacer{
    padding-left: 3%;
  }
  
  .col-right{
    text-align: end;
    width: 50%;
    padding-right: 3%;
  }

  .col-left{
    text-align: start;
    width: 50%;
    padding-left: 3%;
  }