<div class="align-items-center justify-content-center rounded">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div>
                    <img src="assets/img/coffeeMachines/tavola2.gif" usemap="#Map" alt="Carrozzeria">
                    <map name="Map">
                        <area shape="circle" coords="56,366,13" title="C1021"/>
                        <area shape="circle" coords="946,499,13" title="D1002"/>
                        <area shape="circle" coords="903,498,13" title="C1016XX"/>
                        <area shape="circle" coords="774,437,13" title="C2005"/>
                        <area shape="circle" coords="821,414,13" title="C1018XX"/>
                        <area shape="circle" coords="822,383,13" title="C3001"/>
                        <area shape="circle" coords="747,625,13" title="C1004XX"/>
                        <area shape="circle" coords="709,624,13" title="C2007"/>
                        <area shape="circle" coords="673,627,13" title="I1073"/>
                        <area shape="circle" coords="635,627,13" title="F1003"/>
                        <area shape="circle" coords="596,625,13" title="C2006"/>
                        <area shape="circle" coords="560,625,13" title="I1079"/>
                        <area shape="circle" coords="716,489,13" title="C3003"/>
                        <area shape="circle" coords="869,499,13" title="C1014XX"/>
                        <area shape="circle" coords="907,174,13" title="D1001"/>
                        <area shape="circle" coords="779,159,13" title="C1015XX"/>
                        <area shape="circle" coords="668,200,13" title="C1002XX"/>
                        <area shape="circle" coords="616,227,13" title="C1017XX"/>
                        <area shape="circle" coords="534,153,13" title="D1002"/>
                        <area shape="circle" coords="534,189,13" title="C1016XX"/>
                        <area shape="circle" coords="287,171,13" title="C2005"/>
                        <area shape="circle" coords="417,224,13" title="C3001"/>
                        <area shape="circle" coords="378,244,13" title="C1018XX"/>
                        <area shape="circle" coords="285,212,13" title="I1007"/>
                        <area shape="circle" coords="310,297,13" title="C3002"/>
                        <area shape="circle" coords="258,321,13" title="C1003XX"/>
                        <area shape="circle" coords="302,356,13" title="F1001"/>
                        <area shape="circle" coords="473,592,13" title="C2002"/>
                        <area shape="circle" coords="473,626,13" title="C1021"/>
                        <area shape="circle" coords="170,609,13" title="C1005XX"/>
                        <area shape="circle" coords="130,584,13" title="C1006XX"/>
                        <area shape="circle" coords="107,358,13" title="C1012XX"/>
                        <area shape="circle" coords="56,327,13" title="C2001"/>
                        <area shape="circle" coords="107,320,13" title="C1012XXR"/>
                        <area shape="circle" coords="108,280,13" title="C1175XX"/>
                        <area shape="circle" coords="160,172,13" title="C1013XX"/>
                    </map>
                </div>
            </div>
            <div class="col-4">
                <div class="spareParts">
                    <div class="row">
                        <div class="col-md-auto">
                            <span>Codice 1</span>
                        </div>
                        <div class="col-md-auto">
                            <input type="number"
                                #selectedQuantity
                                (keyup.enter)="onKey(selectedQuantity.value)"
                                class="input-number input-number-adaptive" 
                                step="1" min="0" max="" 
                                name="" value="{{ quantity }}" title="Quantity" size="2" 
                                pattern="[0-9]*" 
                                inputmode="numeric" aria-labelledby=""
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <span>Codice 2</span>
                        </div>
                        <div class="col-md-auto">
                            <input type="number"
                                #selectedQuantity
                                (keyup.enter)="onKey(selectedQuantity.value)"
                                class="input-number input-number-adaptive" 
                                step="1" min="0" max="" 
                                name="" value="{{ quantity }}" title="Quantity" size="2" 
                                pattern="[0-9]*" 
                                inputmode="numeric" aria-labelledby=""
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <span>Codice 3</span>
                        </div>
                        <div class="col-md-auto">
                            <input type="number"
                                #selectedQuantity
                                (keyup.enter)="onKey(selectedQuantity.value)"
                                class="input-number input-number-adaptive" 
                                step="1" min="0" max="" 
                                name="" value="{{ quantity }}" title="Quantity" size="2" 
                                pattern="[0-9]*" 
                                inputmode="numeric" aria-labelledby=""
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>