<div class="prospective-card">
    <div class="flex-container">
        <div class="flex-item board-image">
            <img src="assets/img/coffeeMachines/tavola2.gif" alt="Carrozzeria" style="max-width:100%; max-height:100%;">
        </div>
        <div class="flex-item board-panel">
            <div class="scroll">
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">1</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 1</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="4" 
                        pattern="[0-9]*"
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <div class="shopping-cart-class"><fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon></div>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">2</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 2</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">3</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 3</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">4</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 4</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">5</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 5</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">6</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 6</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">7</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 7</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">1</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 1</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="4" 
                        pattern="[0-9]*"
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">2</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 2</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">3</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 3</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">4</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 4</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">5</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 5</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">6</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 6</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-auto"><div class="element-number-container"><div class="blue-square">7</div></div></div>
                <div class="col-md-auto">
                    <span>Codice 7</span>
                </div>
                <div class="col-md-auto">
                    <input type="number"
                        step="1" min="0" max="9999" 
                        name="" value="{{ quantity }}" title="Quantity" size="2" 
                        pattern="[0-9]*" 
                        inputmode="numeric" aria-labelledby=""
                    >
                </div>
                <div class="col-md-auto">
                    <fa-icon [icon]="faShoppingCart" 
                                        [styles]="{'color': 'dc3545'}" (click)="addProduct()" size="1x">
                                    </fa-icon>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>