<ngx-spinner
type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading....</p>
</ngx-spinner>
<div *ngIf="sectionToBeDisplayed != 2"><app-search-machines (outMacchine)="filterMacchine($event)"></app-search-machines></div>
<div *ngIf="sectionToBeDisplayed != 1 && sectionToBeDisplayed != 2">
    <ul id="machines-container" class="flex-container">
        <li id="machines-item" *ngFor="let m of machines" class="flex-item">
            <app-machine-card [item]="m" (openSection)="openSections($event)"></app-machine-card>
        </li>
    </ul>
</div>
<div *ngIf="sectionToBeDisplayed === 1">
    <div class="row" style="margin-top: 1%">
        <div class="col-2">&nbsp;</div>
        <div class="col-8 text-center step"><h5>{{ machine.description }}</h5></div>
        <div class="col-2">&nbsp;</div>
    </div>
    <div class="row" style="margin-top: 1%">
        <div class="col-2">&nbsp;</div>
        <div class="col-8 text-center step"><h6>{{ machine.family }}</h6></div>
        <div class="col-2">&nbsp;</div>
    </div>
    <ul id="sections-container" class="flex-container">
        <li id="section-item" *ngFor="let s of sections" class="flex-item">
            <app-section-card [item]="s" (openProspective)="openProspective($event)"></app-section-card>
        </li>
    </ul>
</div>

  <div *ngIf="sectionToBeDisplayed === 2">
    <div>
        <app-prospetive-card [item]="prospective" [machine]="machine" [sections]="sections" [section]="selectedSection" (closeProspective)="openSections($event)"></app-prospetive-card>
    </div>
</div>
