<div><app-search-machines (outMacchine)="filterMacchine($event)"></app-search-machines></div>
<div *ngIf="sectionToBeDisplayed != 1">
    <ul id="machines-container" class="flex-container">
        <li id="machines-item" *ngFor="let m of machines" class="flex-item">
            <app-machine-card [item]="m" (openSection)="openSections($event)"></app-machine-card>
        </li>
    </ul>
</div>
<div *ngIf="sectionToBeDisplayed === 1">
    <ul id="sections-container" class="flex-container">
        <li id="section-item" *ngFor="let s of sections" class="flex-item">
            <app-section-card [item]="s"></app-section-card>
        </li>
    </ul>
</div>

