ul {
   list-style-type: none;
   display: inline;
}

.boardContainer {
   display: flex;
   justify-content: space-between;
 }

 .flex-container {
   /* We first create a flex layout context */
   display: flex;
 
   /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
   flex-flow: row wrap;
 
   /* Then we define how is distributed the remaining space */
   justify-content: space-between;
   margin-left: 6%;
   align-items: center;
 }

   /* Medium screens */
@media all and (max-width: 800px) {
  .flex-container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
   .flex-item {
    min-width: 33.33%;
   }
 }

/* Small screens */
@media all and (max-width: 500px) {
  .flex-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
   .flex-item {
    min-width: 50%;
   }
  }

 .flex-item {
   background: #ffffff;
   padding: 2%;
   margin-top: 2%;
   text-align: center;
   min-width: 33.33%;
   max-width: 40%;
  /*  justify-content: space-between; */
 }

 #machines-container{
  margin-left: 10%;  /* 4% */
  margin-right: 10%;
  /*    padding-left: 0.5%;
   padding-right: 0.5%;*/

   padding-left: 0px;
   padding-right: 0px;
   
   /*justify-content: space-between;*/
}

#machines-item{
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

.step{
  color:  #dc3545;
}

h5, h6{
  font-weight: bold;
}

#sections-container{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0;
}

#section-item{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0%;
  margin-right: 0%;
}