ul {
   list-style-type: none;
   display: inline;
}

.container {
   display: flex;
   justify-content: space-between;
 }

 .flex-container {
   /* We first create a flex layout context */
   display: flex;
 
   /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
   flex-flow: row wrap;
 
   /* Then we define how is distributed the remaining space */
   justify-content: space-around;
 }

   /* Medium screens */
@media all and (max-width: 800px) {
  .flex-container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
   .flex-item {
    min-width: 33.33%;
   }
 }

/* Small screens */
@media all and (max-width: 500px) {
  .flex-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
   .flex-item {
    min-width: 50%;
   }
  }

 .flex-item {
   background: #ffffff;
   padding: 2%;
   margin-top: 2%;
   text-align: center;
   min-width: 25%;
 }

 #machines-container{
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 2%;
  padding-right: 2%;
  /* border: solid 1px green; */
}

#machines-item{
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0%;
  margin-right: 0%;
  /* border: solid 1px red; */
}
