ul {
   list-style-type: none;
   display: inline;
}

.container {
   display: flex;
   justify-content: space-between;
 }

 .flex-container {
   /* We first create a flex layout context */
   display: flex;
 
   /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
   flex-flow: row wrap;
 
   /* Then we define how is distributed the remaining space */
   justify-content: space-around;
 }

 .flex-item {
   background: #ffffff;
   padding: 2%;
   margin-top: 2%;
   text-align: center;
   min-width: 33.33%;
 }

 #machines-container{
  margin-left: 4%;
  margin-right: 3%;
  /* padding-left: 57px; */
  padding-left: 4.9%;
  padding-right: 0.2%;
/*   border: solid 1px green; */
}

#machines-item{
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0%;
  margin-right: 0%;
  /* border: solid 1px red; */
}
