.headers-list-orders {
    background-color: #e2dcdc;
    text-align: center;
    font-weight: 500;
}

.no-item {
    background-color: #f3f1f1;
    text-align: center;
    border: 1px solid #ffffff;
}

.code_column, 
.price_column, .quantity_column, 
.total_column{
    font-weight: bold;
    padding-top: 1%
}

.description_column{
    font-weight: bold;
}

#empty, #submit, #remove{
   padding-left: 0;
   padding-right: 0;
}

#grand-total{
    font-weight: bold;
}

#step{
    color: #dc3545;
  
}

h5{
    font-weight: bold;
}
