<ngx-spinner
    type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading....</p>
</ngx-spinner>
<div style="margin-top: 5%; margin-left: 5%; max-width: 90%;">
    <div class="align-items-center justify-content-center">
        <div Id="step" class="col-md-12 text-center" >
            <h5>{{ 'step1' | translate }}</h5>
    </div>
</div>
<div style="margin-top: 5%; margin-left: 25%; max-width: 50%;">
    <div class="align-items-center justify-content-center">
        <div class="alert alert-dark">
            <div class="align-items-center justify-content-center" style="margin-left: 30%;"><strong>{{ 'loadFromCartTitle' | translate }}</strong></div>
        </div>
        <div *ngIf="loadingCartError === true" class="alert alert-danger">
            <span>{{ loadingCartErrorMessage }}</span>
        </div>
        <div style="margin-top: 2%;"><input #loadFromFile type="file" class="btn btn-primary" (change)="onFileChange($event)" />
            <button *ngIf="loadingFromFile" class="btn" style="background-color: transparent;" (click)="reset()"><i class="fa fa-remove" aria-hidden="true" style="color:#dc3545;"></i></button></div>
        <div style="margin-top: 2%;">
            <a id="download" href="../../../assets/files/sampleCart.xlsx" download="sampleCart.xslx">
                <i class="fa fa-download"></i><span>{{ 'downloadSampleFile' | translate }}</span></a>
        </div>
    </div>
    
</div>
<div style="margin-top: 5%; margin-left: 5%; max-width: 90%;">
    <div class="align-items-center justify-content-center">
        <div class="row headers-list-orders">
<!--             <div class="col-1 h-100 description_column" >
                <span>&nbsp;</span>
            </div> -->
            <div class="col-4 h-100 code_column" style= "text-align: left; padding-left: 2.7%;">
                <span>{{ 'products' | translate }} </span>   <!-- PRODUCTS -->
            </div>
            <div class="col-2 h-100 price_column" style= "text-align: right;">
                <span>{{ 'price' | translate }}</span>  <!-- PRICE -->
            </div>
            <div class="col-1 h-100 quantity_column">
                <span>{{ 'quantity' | translate }}</span>   <!-- QUANTITY -->
            </div>
            <div class="col-2 h-100 total_column" style= "text-align: right;">
                <span>{{ 'total' | translate }}</span>  <!--  TOTAL -->
            </div>
            <div class="col-2 h-100">
                <span>&nbsp;</span>   <!-- ERROR -->
            </div>
            <div class="col-1 h-100 description_column">
                <span>&nbsp;</span>
            </div>
        </div>

       <div id="order" *ngFor="let order of orders">
            <app-cart-order [order]="order" (newOrder)="updateOrders($event)" (deleteOrder)="deleteOrder($event)">
            </app-cart-order>
        </div>

        <div *ngIf="orders.length === 0">
            <!--  No item -->
            <div class="row align-items-center justify-content-center no-item">
                <div class="col-12 col-md-auto h-100">
                    <h1>{{ 'noitem' | translate }}</h1>  
                </div>
            </div>
        </div>
        <div class="row headers-list-orders" style="margin-bottom: 2%;">
<!--             <div class="col-9 h-100">
                <span>&nbsp;</span>
            </div> -->
            <div class="col-md-11 grand_total_column">
                <div id="grand-total">{{ 'grandTotal' | translate }} {{strTotalPrice}} {{currency}}</div> <!-- Grand total -->
            </div>
        </div>

        <div class="row" style="margin-bottom: 5%;">
<!--              <div id="remove" class="col-md-4 text-left">
                <button class="btn btn-primary" (click)="removeSelected()">Remove Selected</button>
            </div> -->

            <div id="empty" class="col-md-6 text-left">
                <button class="btn btn-primary" (click)="emptyCart()" [disabled]="orders.length === 0">{{ 'emptyCart' | translate }}</button><!--  Empty Cart -->
            </div>

            <div id="submit" class="col-md-6 text-right">
                <button class="btn btn-primary" (click)="goToShipToSet()">{{ 'goToDeliveryAddr' | translate }}</button> <!-- Go to delivery address -->
            </div>
        </div>
    </div>
</div>