<div style="margin-top: 5%; margin-left: 5%; max-width: 90%;">
    <div class="align-items-center justify-content-center">
        <div Id="step" class="col-md-12 text-center" >
            <h5>{{ 'step1' | translate }}</h5>
    </div>
</div>

<div style="margin-top: 5%; margin-left: 5%; max-width: 90%;">
    <div class="align-items-center justify-content-center">
        <div class="row headers-list-orders">
            <div class="col-1 h-100 description_column" >
                <span>&nbsp;</span>
            </div>
            <div class="col-4 h-100 code_column" style= "text-align: left;">
                <span>{{ 'products' | translate }} </span>   <!-- PRODUCTS -->
            </div>
            <div class="col-2 h-100 price_column" style= "text-align: right;">
                <span>{{ 'price' | translate }}</span>  <!-- PRICE -->
            </div>
            <div class="col-2 h-100 quantity_column">
                <span>{{ 'quantity' | translate }}</span>   <!-- QUANTITY -->
            </div>
            <div class="col-2 h-100 total_column" style= "text-align: right;">
                <span>{{ 'total' | translate }}</span>  <!--  TOTAL -->
            </div>
            <div class="col-1 h-100 description_column">
                <span>&nbsp;</span>
            </div>
        </div>

       <div id="order" *ngFor="let order of orders">
            <app-cart-order [order]="order" (newOrder)="updateOrders($event)" (deleteOrder)="deleteOrder($event)">
            </app-cart-order>
        </div>

        <div *ngIf="orders.length === 0">
            <div class="row align-items-center justify-content-center no-item">
                <div class="col-12 col-md-auto h-100">
                    <h1>{{ 'noitem' | translate }}</h1>  <!--  No item -->
                </div>
            </div>
        </div>

        <div class="row headers-list-orders" style="margin-bottom: 2%;">
            <div class="col-9 h-100">
                <span>&nbsp;</span>
            </div>
            <div class="col-2 h-100">
                <div id="grand-total">{{ 'grandTotal' | translate }} {{strTotalPrice}} {{currency}}</div> <!-- Grand total -->
            </div>
        </div>

        <div class="row" style="margin-bottom: 5%;">
<!--              <div id="remove" class="col-md-4 text-left">
                <button class="btn btn-primary" (click)="removeSelected()">Remove Selected</button>
            </div> -->

            <div id="empty" class="col-md-6 text-left">
                <button class="btn btn-primary" (click)="emptyCart()">{{ 'emptyCart' | translate }}</button><!--  Empty Cart -->
            </div>

            <div id="submit" class="col-md-6 text-right">
                <button class="btn btn-primary" (click)="goToShipToSet()">{{ 'goToDeliveryAddr' | translate }}</button> <!-- Go to delivery address -->
            </div>
        </div>
    </div>
</div>