#combo_products{
    display: flex;
    flex-direction: column;
 }

 #combo_products> * {
    width: 100%;
 }

/*  .mat-form-field-infix {
   padding: 15px;
   border-top: 1.84375em solid transparent;
}
 */
ul {
   list-style-type: none;
   display: inline;
}

 .flex-container {
   /* We first create a flex layout context */
   display: flex;
 
   /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
   flex-flow: row wrap;
 
   /* Then we define how is distributed the remaining space */
   justify-content: space-around;
   margin-left: 6%;
 }

   /* Medium screens */
@media all and (max-width: 800px) {
   .flex-container {
     /* When on medium sized screens, we center it by evenly distributing empty space around items */
     justify-content: space-around;
   }
 }
 
 /* Small screens */
 @media all and (max-width: 500px) {
   .flex-container {
     /* On small screens, we are no longer using row direction but column */
     flex-direction: column;
   }
 }

 .flex-item {
   background: #ffffff;
   padding: 0px;
   margin-top: 10px;
   text-align: center;
   min-width: 33.33%;
 }
 
 #cat-container{
   margin-left: 12%; 
   margin-right: 12%;
}


#top-container{
  padding-left: 12%; 
  padding-right: 12%;
}

#top-btn{
 margin-top: -6%;
 margin-bottom: 1%;
}