#combo_products{
    display: flex;
    flex-direction: column;
 }

 #combo_products> * {
    width: 100%;
 }

/*  .mat-form-field-infix {
   padding: 15px;
   border-top: 1.84375em solid transparent;
}
 */
ul {
   list-style-type: none;
   display: inline;
}

 .flex-container {
   /* We first create a flex layout context */
   display: flex;
 
   /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
   flex-flow: row wrap;
 
   /* Then we define how is distributed the remaining space */
   justify-content: space-between;
   margin-left: 6%;
 }

   /* Medium screens */
@media all and (max-width: 800px) {
   .flex-container {
     /* When on medium sized screens, we center it by evenly distributing empty space around items */
     justify-content: space-around;
   }

   .flex-item {
    min-width: 33.33%;
   }
 }
 
 /* Small screens */
 @media all and (max-width: 500px) {
   .flex-container {
     /* On small screens, we are no longer using row direction but column */
     flex-direction: column;
   }

   .flex-item {
    min-width: 50%;
   }
 }

 .flex-item {
   background: #ffffff;
   padding: 0px;
   margin-top: 10px;
   text-align: center;
   min-width: 25%;   /* min-width: 33.33%;  25%*/   

 }
 
 #cat-container{
   margin-left: 10%;  
   margin-right: 10%;
/*    padding-left: 0.5%;
   padding-right: 0.5%;*/

   padding-left: 0px;
   padding-right: 0px;
   
   justify-content: space-between;
}


#top-container{
  padding-left: 12%; 
  padding-right: 12%;
}

#top-btn{
 margin-top: -6%;
 margin-bottom: 1%;
}


.modal-content {
  /* gestione background */
  display: block;
  position: fixed;
  z-index: 1; /* = on top */
}

.modal {            
  display: block;
  left: 35%;
  top: 35%;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 40%;
/*   border: solid 1px black; */
}