<app-bar></app-bar>
<div class="align-items-center justify-content-center">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-4 col-md-auto h-100">
                <div class="card" style="width: 18rem;">
                    <img class="img-fluid card-img-top" src="assets/img/items/Item1.PNG" sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">
                    <div class="card-body">
                        <h6 class="card-title">Finest Quality Espresso Cup</h6>
                    </div>
                  </div>
                </div>
            <div class="col-4 col-md-auto h-100">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/items/Item2.PNG" sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">
                    <div class="card-body">
                        <h6 class="card-title">ROLL TOP BACKPACK</h6>
                    </div>
                  </div>
            </div>
            <div class="col-4 col-md-auto h-100">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/items/Item3.PNG" sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">
                    <div class="card-body">
                        <h6 class="card-title">bar-ista clock</h6>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>