/* Medium screens */
@media all and (max-width: 800px) {
    #scroll-top-btn{
        border: 2px;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    #scroll-top-btn{
        border: 1px;
    }
}

#scroll-top-btn{
    bottom: 20%;
    cursor: pointer;
    position: fixed;
    right: 2%;
    border-radius: 4px;
    display: block;
    border: 0px;
}

#scroll-top-icon{
    color: '#fff';
 } 

.scroll-to-top{
    display: none;
    /* border: 10px; */
}

.contentBody {
    padding-top: 11.5%; 
    margin-top: 5;
}

/* IPAD */
@media all and (max-width: 1024px) {
    .contentBody {
        padding-top: 1%; 
        margin-top: 1;
    }
    
}