<div id="parent-row-menu" style="margin-top: 1%">
    <div id="demo" class="carousel slide" data-ride="carousel"> 
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/carousel/carousel1.PNG" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel/carousel2.PNG" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel/carousel3.PNG" alt="Image 3">
            </div>
        </div>
    </div>
</div>
<div>
    <ul class="flex-container">
        <li *ngFor="let item of items" class="flex-item">
            <app-product-catalogue-card [item]="item"></app-product-catalogue-card>
        </li>
    </ul>
</div>