<div id="parent-row-menu">
    <div id="demo" class="carousel slide" data-ride="carousel"> 
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/carousel/carousel1.PNG" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel/carousel2.PNG" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel/carousel3.PNG" alt="Image 3">
            </div>
        </div>
    </div>
    <div class="spacer" style="margin-bottom: 20"></div>
</div>
<div>
	<div class="container">
        <div *ngFor="let item of items" >
            <app-product-card [item]="item"></app-product-card>
        </div>
	</div>
</div>
