<div class="align-items-center justify-content-center">
	<div class="container">
        <div *ngIf="totalQuantity == 0">
            <div class="row align-items-center justify-content-center" style="margin-top: 20">
                <div  class="col-4 col-md-auto h-100" >
                    <h1>No item</h1>
                </div>
            </div>
        </div>
        <div *ngIf="totalQuantity != 0">
            <div *ngFor="let item of items | paginate: config" class="row align-items-center justify-content-center" style="margin-top: 20">
                <div  class="col-4 col-md-auto h-100" >
                    {{ item.product.code}}
                </div>
                <div  class="col-4 col-md-auto h-100" >
                    {{ item.product.description}}
                </div>
                <div  class="col-4 col-md-auto h-100" >
                    {{ item.quantity}}
                </div>
            </div>
            <div class="row align-items-center justify-content-center spacer" style="margin-top: 20">
                <div class="w-100"></div>
                <div class="col-4 col-md-auto h-100">
                    <pagination-controls 
                        [maxSize]="maxSize"
                        [directionLinks]="directionLinks"
                        [autoHide]="autoHide"
                        [responsive]="responsive"
                        [previousLabel]="labels.previousLabel"
                        [nextLabel]="labels.nextLabel"
                        [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                        [screenReaderPageLabel]="labels.screenReaderPageLabel"
                        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                        (pageChange)="onPageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>