<ngx-spinner
    type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading....</p>
</ngx-spinner>
<div style="margin-top: 5%; margin-left: 3%; max-width: 95%;">

    <div class="search-categories-container">
        <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="row" style="padding-left: 1%; padding-right: 1%; padding-top: 1%;">
                <div id="orderNumber" class="col-6">
                    <label for="orderNumber" >{{ 'ordersPage.searchForOrderNumber' | translate }}</label>
                    <input type="text" class="form-control" id="orderNumber" name="orderNumber" formControlName="orderNumber" placeholder="{{ 'ordersPage.numOrdine' | translate }}"></div>
                <div id="fromDate" class="col-6">
                    <label for="fromDate" >{{ 'ordersPage.fromDate' | translate }}</label>
                    <input type="date" class="form-control" id="fromDate" name="fromDate" formControlName="fromDate" required>
                </div>
            </div>
            <div class="row empty_row">
                <div class="col-12">&nbsp;</div>
            </div>
            <div class="row" style="padding-left: 1%; padding-right: 1%;">
                <div class="col-6">&nbsp;</div>
                <div id="toDate" class="col-6">
                    <label for="toDate" >{{ 'ordersPage.toDate' | translate }}</label>
                    <input type="date" class="form-control" id="toDate" name="toDate" formControlName="toDate" required>
                </div>
            </div>
            <div class="row empty_row">
                <div class="col-12">&nbsp;</div>
            </div>
            <div id="div-search">
                <button id="search" class="btn btn-primary" type="submit">
                    {{ 'search' | translate }}&nbsp;&nbsp;&nbsp;
                    <fa-icon [icon]="faSearch" size="1x"></fa-icon>
                </button>
            </div>
        </form>
    </div>
    <div style="margin-top: 2%;">
        <button class="btn btn-primary" (click)="exportAsXLSX()">
            <i class="fa fa-download"></i><span>{{ 'ordersPage.exportAsXslxFile' | translate }}</span>
        </button>
    </div>
    <div style="margin-top: 5%;">
        <input #searchField class="form-control" type="search" placeholder="{{ 'ordersPage.search' | translate }}"  (keyup.enter)="search(searchField.value)"/>
    </div>
    <div style="margin-top: 5%;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" (click)="onSort('vbeln')">{{ 'ordersPage.numOrdine' | translate }}</th>
                <th scope="col" (click)="onSort('erdat')">{{ 'ordersPage.date' | translate }}</th>
                <th scope="col"                          >{{ 'ordersPage.totOrdine' | translate }}</th>
                <th scope="col"                          >{{ 'ordersPage.destinazione' | translate }}</th>
                <th scope="col" (click)="onSort('posnr')">{{ 'ordersPage.position' | translate }}</th>
                <th scope="col" (click)="onSort('matnr')">{{ 'ordersPage.product' | translate }}</th>
                <th scope="col" (click)="onSort('qty')">{{ 'ordersPage.qty' | translate }}</th>
                <th scope="col" (click)="onSort('netpr')">{{ 'ordersPage.price' | translate }}</th>
                <th scope="col" (click)="onSort('total_row')">{{ 'ordersPage.totPos' | translate }}</th>
                <th scope="col" (click)="onSort('status')">{{ 'ordersPage.status' | translate }}</th>
            </tr>
        </thead>
        <div *ngIf="totalQuantity === 0">
            <div class="row align-items-center justify-content-center" style="margin-top: 20%">
                <div  class="col-4 col-md-auto h-100" >
                    <h1>{{ 'noItem' | translate }}</h1>
                </div>
            </div>
        </div>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.vbeln }}</td>
                <td>
                    {{ item.erdat | date:'dd/MM/yyyy' }}
                </td>
                <td>{{ item.netwr }} {{ item.waerk }}</td>
                <td>{{ item.name1 }}<br /><h6 style="font-size: 12px;">{{item.ort01}} {{item.pstlz}} {{item.stras}} {{item.land1}}</h6></td>
                <td>{{ item.posnr }}</td>
                <td>{{ item.matnr }}<br />{{ item.maktx }}</td>
                <td>{{ item.qty }} {{ item.meins }}</td>
                <td>{{ item.netpr }} {{ item.waerk }}</td>
                <td>{{ item.totalRow }} {{ item.waerk }}</td>
                <td>{{ item.stateDesc }}</td>
            </tr>
            </tbody>
    </table>
</div>
</div>
<div>
    <app-footer></app-footer>
</div>