/*vedi footer-login*/
footer .footer-widget {  
     background-color: #414141;
    color: #fff;
    font-size: 1.4rem;
    display: block;

    bottom: -2%;
    left: 0;
/*    margin-top: 15%;
  max-height: 20%;
 */

 /* test full screen e mobile */
    margin-top: 20%;
    max-height: 30%;
    width: 100%;
    position: block;
}

/*   @media only screen and (max-device-width: 480px) {

    footer .footer-widget {  
    background-color: 414141;
    color: #fff;
    font-size: 1.4rem;
    display: block;
  }
} */

.widget_text{
    font-size: 12.6px;
    font-stretch: 75%;
    font-weight: 400;
    line-height: 18.9px;
  }


h3.widget_title {
    font-size: 1.6em;
}


p{
    font-size: 12.6px;
    margin-top: 0;
    margin-bottom: 0;
}

.entry_content{
    font-size: 12.6px;
    font-stretch: 75%;
    font-weight: 400;
    line-height: 18.9px;
}

footer .footer-widget a {
    color: inherit;
}

.svg-inline--fa.fa-w-14 {
    width: .875em
}

.widget-social{
    margin-left: 0;
    padding-left: 0;
    font-size: 1.5rem;
}

.mr-1{
    margin-right: 5% !important;
}

.last_footer_column {
    padding-left: 0%;
}

/* IPHONE */
@media all and (max-device-width: 481px) {
    .last_footer_column {
        padding-left: 5%;
    }
}

/* IPAD */
@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .last_footer_column {
        padding-left: 10%;
    }
}

@media all and (max-width: 768px) {
    .footer {
        left: 5%;
    }
}