<div style="margin-top: 5%;">
    <div class="align-items-center justify-content-center">
        <div class="container">
            <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">

                
                <div class="form-row"> 
                    <div class="col-md-2"></div>
                    <div Id="step" class="col-md-8 text-center" >
                    <h5>{{ 'step2' | translate }}</h5>   <!-- STEP 2 di 4 - DESTINATARIO MERCE -->
                    
                </div>
                </div>
                <div class="form-row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label for="recipient">{{ 'recipient' | translate }}</label>
                        <select class="custom-select" formControlName="recipient" id="recipient" required required (change)="changeRecipient($event)">
                             <option [value]="recipient.Kunwe" *ngFor="let recipient of recipients">{{ recipient.Kunwex }}</option>
                        </select>

                        <div *ngIf="recipient.invalid && (recipient.dirty || recipient.touched)"
                            class="alert alert-danger">
                            <div *ngIf="recipient.errors.required">
                                <div>{{ 'recipientRequired' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label for="receiver">{{ 'shipTo' | translate }}</label>
                <input type="text" class="form-control" id="receiver" formControlName="receiver" 
					placeholder="Ship to" required />
                <div *ngIf="receiver.invalid && (receiver.dirty || receiver.touched)" class="alert alert-danger">
                    <div *ngIf="receiver.errors.required">
                        <div>{{ 'shipToRequired' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label for="address">{{ 'shipping' | translate }}</label>
                <input type="text" class="form-control" id="address" formControlName="address" placeholder="Address" required />
                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                    <div *ngIf="address.errors.required">
                        <div>{{ 'shippingRequired' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label for="zipCode">{{ 'zip' | translate }}</label>
                <input type="text" class="form-control" id="zipCode" formControlName="zipCode"
					placeholder="ZIP code" required />
                <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="alert alert-danger">
                    <div *ngIf="zipCode.errors.required">
                        <div>{{ 'zipRequired' | translate }}</div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <label for="city">{{ 'city' | translate }}</label>
                <input type="text" class="form-control" id="city" formControlName="city" placeholder="City" required />
                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
                    <div *ngIf="city.errors.required">
                        <div>{{ 'cityRequired' | translate }}</div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                        <label for="country">{{ 'country' | translate }}</label>
                <select class="custom-select" formControlName="country" id="country" required (change)="changeCountry($event)">
                            <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                </select>
                <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">
                    <div *ngIf="country.errors.required">
                                <div>{{ 'countryRequired' | translate }}</div> 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label for="region">{{ 'region' | translate }}</label>

                            <select class="custom-select"  formControlName="region" id="region" required>
                                <option value="" [disabled]="disableRegion">{{ 'regionRequired' | translate }}</option>
                                <option [value]="region.id" *ngFor="let region of regions">{{region.name}}</option>
                          </select> 

                <div *ngIf="region.invalid && (region.dirty || region.touched)" class="alert alert-danger">
                    <div *ngIf="region.errors.required">
                        <div>{{ 'regionRequired' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2"></div>
            <div class="col-md-4  text-left">
                <button class="btn btn-primary" (click)="onCancel()">{{ 'back' | translate }}</button>
            </div>
            <div class="col-md-4 text-right">
                <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">{{ 'goToStep3' | translate }}</button>
            </div>
            <div class="w-100"></div>
        </div>

        </form>
    </div>
</div>
</div>