<div class="content" style="margin-bottom: 2%;">
    <div class="container">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="row align-items-center justify-content-center">
                <div class="w-100"></div>
                <div class="col-6">
                    <a href="#">
                        <img src="assets/img/logo/globo-leone.png" alt="logo" class="img-logo-horizontal">
                    </a>
                </div>
                <div class="w-100"></div>
            </div>
            <div>{{ errorMessage }}</div>
            <div class="row align-items-center justify-content-center">
                <div class="col-7">
                    <div class="form-group">
                        <label for="password" i18n>Initial password</label>
                        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter initial password" required>
                         <div *ngIf="password.invalid && (password.dirty || password.touched)  || 
                                     changePasswordForm.controls['password'].hasError('InvalidPasswordLen')" 
                                class="alert alert-danger">
                            <div>
                                <ng-container i18n>Initial password is required. (Enter at least 8 characters)</ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password1" i18n>New password</label>
                        <input type="password" class="form-control" id="password1" formControlName="password1" placeholder="Password" required>
                        <div *ngIf="password1.invalid && (password1.dirty || password1.touched) ||
                                    changePasswordForm.controls['password1'].hasError('InvalidPasswordLen')" class="alert alert-danger">
                            <div>
                                <ng-container i18n>New Password is required (Enter at least 8 characters)</ng-container>
                            </div>
                        </div>

                          <div  *ngIf="changePasswordForm.controls['password1'].hasError('PassswordMatch')" class="alert alert-danger">
                            <ng-container i18n>Initial password and new password must be different</ng-container>
                          </div>
                    </div>

                    <div class="form-group">
                        <label for="password2" i18n>Confirm password</label>
                        <input type="password" class="form-control" id="password2" formControlName="password2"
                            placeholder="Retype password" required>
                        <div *ngIf="password2.invalid && (password2.dirty || password2.touched) && password2.errors.required" class="alert alert-danger">
                            <div>
                                <ng-container i18n>Confirm password is required.</ng-container>
                            </div>
                        </div>

                        <div  *ngIf="changePasswordForm.controls['password2'].hasError('NoPassswordMatch')" class="alert alert-danger">
                            <ng-container i18n>Passwords do not match.</ng-container>
                          </div>
                    </div>

                </div>
                <div class="w-100"></div>
            </div>

            <div class="row">
                <div class="w-100"></div>
                <div class="col-2">&nbsp;</div>
                <div class="col-2">
                    <div style="padding-left: 30%;"><button type="submit" class="btn btn-primary"
                            [disabled]="!changePasswordForm.valid">Submit</button></div>
                </div>
                <div class="w-100"></div>
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <div class="footer-widget">
        <div class="container">
            <div class="row justify-content-around">
                <div class="container">
                    <div class="row justify-content-sm-around">
                        <div class="col-10 col-sm-6 col-lg-4 my-3">
                            <div id="text-2" class="widget widget_text">

                                <h3 class="widget_title">La Marzocco Srl</h3>
                                <div class="textwidget">
                                    <div class="entry_content">
                                        <p>Via La Torre 14/H<br>
                                            50038 Scarperia - Florence - ITALY<br>
                                            E. <a href="mailto:store@lamarzocco.com">store@lamarzocco.com</a><br>
                                            E. <a href="mailto:press@lamarzocco.com">press@lamarzocco.com</a><br>
                                            T. +39 055 849 191<br>
                                            F. +39 055 849 1990</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-sm-6 col-lg-4 my-3">
                            <div id="text-3" class="widget widget_text">
                                <h3 class="widget_title">Terms &amp; Conditions</h3>
                                <div class="textwidget">
                                    <div class="entry_content">
                                        <a href="https://store.lamarzocco.com/termsconditions/">Sale conditions</a> | <a
                                            href="http://store.lamarzocco.com/online-dispute-resolution/">ODR</a> | <a
                                            href="http://store.lamarzocco.com/cookie-notice/">Cookies</a>
                                        <p>© 1998-2017 La Marzocco S.r.l. a holding of La Marzocco International LLC.
                                            Codice fiscale, Partita IVA e Iscrizione Registro Imprese di Firenze nr
                                            04040140487 - Capitale Sociale 52.000,00 Euro i.v.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-10 col-sm-6 col-lg-2 my-3">
                            <div id="custom_html-2" class="widget_text widget widget_custom_html">
                                <h3 class="widget_title">Join us on</h3>
                                <div class="textwidget custom-html-widget">
                                    <div class="widget-social d-flex"><a
                                            href="http://https//www.facebook.com/LaMarzocco" target="_blank"
                                            class="mr-1"> <svg aria-hidden="true" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                class="svg-inline--fa fa-w-14">
                                                <path fill="currentColor"
                                                    d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z">
                                                </path>
                                            </svg> </a><a href="http://https//twitter.com/lamarzocco" target="_blank"
                                            class="mr-1"> <svg aria-hidden="true" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                class="svg-inline--fa fa-w-14">
                                                <path fill="currentColor"
                                                    d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z">
                                                </path>
                                            </svg> </a><a href="http://www.youtube.com/lamarzocco" target="_blank"
                                            class="mr-1"> <svg aria-hidden="true" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                class="svg-inline--fa fa-w-14">
                                                <path fill="currentColor"
                                                    d="M186.8 202.1l95.2 54.1-95.2 54.1V202.1zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-42 176.3s0-59.6-7.6-88.2c-4.2-15.8-16.5-28.2-32.2-32.4C337.9 128 224 128 224 128s-113.9 0-142.2 7.7c-15.7 4.2-28 16.6-32.2 32.4-7.6 28.5-7.6 88.2-7.6 88.2s0 59.6 7.6 88.2c4.2 15.8 16.5 27.7 32.2 31.9C110.1 384 224 384 224 384s113.9 0 142.2-7.7c15.7-4.2 28-16.1 32.2-31.9 7.6-28.5 7.6-88.1 7.6-88.1z">
                                                </path>
                                            </svg> </a><a href="http://www.flickr.com/photos/lamarzocco" target="_blank"
                                            class=""> <svg aria-hidden="true" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                class="svg-inline--fa fa-w-14">
                                                <path fill="currentColor"
                                                    d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM144.5 319c-35.1 0-63.5-28.4-63.5-63.5s28.4-63.5 63.5-63.5 63.5 28.4 63.5 63.5-28.4 63.5-63.5 63.5zm159 0c-35.1 0-63.5-28.4-63.5-63.5s28.4-63.5 63.5-63.5 63.5 28.4 63.5 63.5-28.4 63.5-63.5 63.5z">
                                                </path>
                                            </svg> </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>