.content {
    padding-top: 2%;
}


a {
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
}

img.img-logo-horizontal {
    width: 25%;
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: 10%;
}

@media all and (max-width: 768px) {
    img.img-logo-horizontal {
        width: 50%;
        margin-left: 20%;
    }
}
.widget_text{
    font-size: 12.6px;
    font-stretch: 75%;
    font-weight: 400;
    line-height: 18.9px;
  }



 h3.widget_title {
    font-size: 1.6em;
} 

h3.widget_title2 {
    font-size: 20.16px;
    margin-bottom: 4.5px;
    line-height: 24px;
    margin-left: 0px;
}

p{
    font-size:  0.75rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "TradeGothicLT" !important;
}

.entry_content{
    font-size:  0.75rem;
    font-family: "TradeGothicLT" !important;
}


.footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #414141;
      color: #fff;
      /* text-align: center; */
      font-size: 1.4rem;
      top: 10px;
}


.footer-widget a {
    color: inherit;
}

.svg-inline--fa.fa-w-14 {
   width: .875em
}

 .widget-social{
    margin-left: 0;
    padding-left: 0;
    font-size: 1.5rem;
}

.mr-1{
    margin-right: 5% !important;
}

/*.paddingLeftLoginButton {
    padding-left: 30%;
}

@media all and (max-width: 750px) {
    .paddingLeftLoginButton {
        padding-left: 40%;
    }
}*/

.otherButtons {
    display: block;
}

@media all and (max-width: 750px) {
    .otherButtons {
        display: none;
    }
}

.form-row {
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
}

@media all and (max-width: 768px) {
    .form-row {
        justify-content: center;
    }

    .footer {
        width: 90%;
    }
}
.form-column {
    width: 65%;
}

.last_footer_column {
    padding-left: 0%;
}

/* IPHONE */
@media all and (max-device-width: 481px) {
    .last_footer_column {
        padding-left: 5%;
    }
    .form-column {
        width: 90%;
    }
}

/* IPAD */
@media all and (min-device-width: 481px) and (max-device-width: 1024px) {
    .form-column {
        width: 90%;
    }
}
@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .last_footer_column {
        padding-left: 10%;
    }
    .form-column {
        width: 90%;
    }
}

@media all and (max-width: 768px) {
    .footer {
        left: 5%;
    }
}