.content {
    padding-top: 2%;
}


a {
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
}

img.img-logo-horizontal {
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10%;
}