<div class="content" style="margin-bottom: 2%;">
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
            <div class="row align-items-center justify-content-center">
            <div class="col-2"></div>
            <div class="col-8" style="text-align: center">
                <a href="#">
                    <img src="assets/img/logo/globo-leone.png" alt="logo" class="img-logo-horizontal">
                </a>
            </div>
            <div class="col-2"></div>
        </div>
        {{ response2 | json }}
        <div class="row align-items-center justify-content-center">
            <div *ngIf="loginError === true" class="alert alert-danger">
                <span>{{ errorMessage }}</span>
            </div>
            <div *ngIf="!loginError" class="w-100"></div>
            <div class="col-7">
                
                <div class="form-group">
                    <label for="email">{{ 'email' | translate }}</label>
                    <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="{{ 'emailPlaceholder' | translate }}" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                            class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            <span>{{ 'emailRequired' | translate }}</span>
                        </div>
                        <div *ngIf="loginForm.controls['email'].hasError('email')">
                            <div>{{ 'invalidEmailFormat' | translate }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="w-100"></div>
            <div class="col-2">&nbsp;</div>
            <div class="col-2"><div style="padding-left: 30%;"><button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">{{ 'submit' | translate }}</button></div></div>
            <div class="col-6">&nbsp;</div>
            <div class="w-100"></div>
        </div>
    </form>
    </div>
</div>