<div class="row align-items-center justify-content-center">
    <div class="w-100"></div>
    <div class="col-6">
        <a href="#">
            <img src="assets/img/logo/globo-leone.png" alt="logo" class="img-logo-horizontal">
        </a>
    </div>
    <div class="w-100"></div>
</div>
<div class="row align-items-center justify-content-center">
    <div class="w-100"></div>
    <div class="col-6 mb-4">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="userName" i18n="Username|The name used to log in">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username" value="Mark" required>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div *ngIf="username.errors.required">
                            <span i18n="Username|Error message">Username is required.</span>
                        </div>
                    </div>
                
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="email" i18n="Email address|The email used to log in">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        aria-describedby="emailHelp" placeholder="Enter email" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            <span i18n="Email address|Error message">Email is required.</span>
                        </div>
                        <div *ngIf="registrationForm.controls['email'].hasError('email')">
                            <span i18n="Email address|Error message">Email invalid format.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="password1" i18n>Password</label>
                    <input type="password" class="form-control" id="password1" formControlName="password1"
                        placeholder="Password" required>
                    <div *ngIf="password1.invalid && (password1.dirty || password1.touched)" class="alert alert-danger">
                        <div *ngIf="password1.errors.required">
                            <ng-container i18n>Password is required.</ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="password2" i18n>Confirm password</label>
                    <input type="password" class="form-control" id="password2" formControlName="password2" placeholder="Password" required>
  
                    <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="alert alert-danger">
                        <div *ngIf="password2.errors.required">
                            <ng-container i18n>Confirm password is required.</ng-container>
                        </div>
                    </div>
                    
                    <div  *ngIf="registrationForm.controls['password2'].hasError('NoPassswordMatch')" class="alert alert-danger">
                        <ng-container i18n>Password do not match.</ng-container>
                      </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit form</button>
        </form>

    </div>
</div>