/* .navbar_bg {
    background-color: #414141;
    color: #fff;
    font-family: "Trade Gothic LT ProCn";
    font-size: 18px;
    height: 55.87px;
} */

.container{
    padding-left: 5%;
    padding-right: 5%;
}


#nav-link{
    padding-right: 30px;
}

#nav-link-cart{
    padding-right: 10px;
}

img.img-logo-horizontal {
    width: 5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}


.cart-nav{
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

/* #menu-cart{
    padding-right: 50px;
} */

.navbar-menu {
    background-color: #414141;
    color: #fff;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
}

.row_carousel{
    overflow: hidden;
  }


ul.nav li a {
    color: white;
}

.cart-menu {
    background-color: #414141;
    color: #fff;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
}

.search {
    background-color: transparent;
    border-color: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

input {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

input:focus {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.black-logo-bg {
    background-color: #fff;
}

.header-menu .header-menu-logo {
    padding-top: 6.2em;
}

/* .img-logo-store {
     width:215.99px;
     height: 149.375px;
}  */

#rcorners1 {
    border-radius: 20px;
    background: #dc3545;
    padding: 0px; 
    width: 20px;
    height: 20px;  
  }


#mButton:hover{ 
    border: 1px solid #dc3545;
}

/* a:hover {
    border: 1px solid #dc3545;
}
 */

