<div id="nav-menu" class="cart-menu">
    <div class="container">
        <div class="row" style="background-color: #414141;">
            <div class="col-12">
                <ul class="nav">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                        <div class="logo-horizontal">
                            <a (click)="goHome()">
                                <img src="assets/img/logo/globo-leone-white.png" alt="" class="img-logo-horizontal img-fluid" data-rjs="2">
                            </a>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center" style="margin-left: 8%; margin-right: 10%;">
                        <div><input class="form-control mr-sm-2 search" 
                            type="search" placeholder="SEARCH"
                            #searchBox (keyup.enter)="onSearch(searchBox.value)" [(ngModel)]="searchKey"  (ngModelChange)="onTextChange($event)"
                            aria-label="SEARCH"></div>
                    </li>

                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center" style="margin-left: 4%; margin-right: 4%;">
                        <a class="nav-link" (click)="openMyAccount()">{{ 'myAccount' | translate }}</a>
                    </li>

                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center" style="margin-left: 4%; margin-right: 4%;">
                        <a class="nav-link" (click)="goWishlist()">{{ 'wishlist' | translate }}</a>
                    </li>

                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center" style="margin-left: 1%;padding-bottom: 0.5%">
                        <a class="nav-link" (click)="goCart()"> 
                            <fa-icon id="btn-icon" [icon]="faShoppingCart"  size="1x">
                        </fa-icon></a>
                    </li>
                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                        <p id="rcorners1">{{ cartQuantity }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #ffffff;">
        <div class="col-12">
            <app-menu></app-menu>
        </div>
    </div>
</div>


