<div id="nav-menu" class="cart-menu">
    <div class="container" style="background-color: #414141;">
        <div class="row align-items-center justify-content-between">
            <div class="w-100 spacer-20 spacer-md-0 d-md-none"></div>
            <div class="col-12 col-md-auto">
                <a href="#">
                    <img src="assets/img/logo/globo-leone-white.png" alt="" class="img-logo-horizontal">
                </a>
            </div>

            <div class="col-12 col-md">
                <div class="row justify-content-end align-items-center">
                    <div class="col-4 col-lg-3 d-none d-lg-block">
                        <div class="search"></div>
                    </div>
                    <div class="col-12 col-lg-9 col-xl-8">
                        <div class="cart-nav">
                            <div class="menu-cart-menu-container">
                                <ul class="nav justify-content-center justify-content-md-end">

                                    <li class="col d-none d-lg-block">
                                        <input class="form-control mr-sm-2 search" type="search" placeholder="Search"
                                            aria-label="Search">
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                                        <a class="nav-link" href="/customer_account">MY ACCOUNT</a>
                                    </li>


                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                                        <a class="nav-link" href="/wishlist">WISHLIST</a>
                                    </li>


                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                                        <a class="nav-link" href="/cart">CART</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                                        <p id="rcorners1">{{ cartQuantity }}</p>
                                    </li>

                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom nav-item text-center">
                                        &nbsp;
                                    </li>
                                    <li><button type="button" (click)="logout()">Logout</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row" style="background-color: #ffffff;">
        <div class="col-12">
            <app-menu></app-menu>
        </div>
    </div>
</div>