<div class="cart-menu" >
    <div class="container" style="background-color: #414141;">
        <div class="navbar-menu navbar_bg">
            <div class="container pb-1 pt-1">
                <!--mod pad -->
                <div class="row align-items-center justify-content-between">
                    <div class="w-100 spacer-20 spacer-md-0"></div>
                    <div class="col-4 col-md-auto">
                        <a href="#">
                            <img src="assets/img/logo/globo-leone-white.png" alt="" class="img-logo-horizontal">
                        </a>
                    </div>
                    <div class="col-2"><span style="color: white">LA MARZOCCO</span></div>
                    <div class="col-6 col-md">
                        <!------ modifica ---->
                        <div class="cart-nav">
                            <div class="menu-cart-menu-container">
                                <ul class="nav justify-content-center justify-content-md-end">

                                    <li class="col d-none d-lg-block">
                                        <input class="form-control mr-sm-2 search" type="search" placeholder="Search"
                                            aria-label="Search">
                                    </li>

                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                                        <a class="nav-link" href="/customer_account">MY ACCOUNT</a>
                                    </li>

                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                                        <a class="nav-link" href="/wishlist">WISHLIST</a>
                                    </li>

                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item text-center">
                                        <a class="nav-link" href="/cart">CART</a>
                                    </li>

                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom nav-item text-center">
                                        <a class="nav-link" href="http://global.lamarzocco.com/en/">GLOBAL WEBSITE</a>
                                    </li>
                                    <li><button type="button" (click)="logout()">Logout</button></li>
                                </ul>
                            </div>
                        </div>
                        <!-- FINE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row align-items-center">
        <div class="col-12">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/carousel/carousel1.PNG" alt="Image 1">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/carousel/carousel2.PNG" alt="Image 2">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/carousel/carousel3.PNG" alt="Image 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="black-logo-bg align-items-center justify-content-between">
    <div class="row align-items-center justify-content-center">
        <div class="w-100 spacer-20 spacer-md-0"></div>
        <div class="col-6 col-md-auto">
            <a href="#">
                <img src="assets/img/logo/globo-leone.png" alt="logo" class="img-logo-horizontal">
            </a>
        </div>
    </div>
</div>