.navbar_bg {
    background-color: #414141;
    color: #fff;
    font-family: "Trade Gothic LT ProCn";
    font-size: 18px;
}

img.img-logo-horizontal {
    width: 18rem;
    width: 10vw;
}

.navbar-menu {
    background-color: #414141;
    color: #fff;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
}

.row_carousel{
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
  }

ul.nav li a {
    color: white;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.cart-menu {
    background-color: #414141;
    color: #fff;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
}

.search {
    background-color: transparent;
    border-color: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

input {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

input:focus {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.black-logo-bg {
    background-color: #fff;
}
