<div>
    <div class="row align-items-center no-gutters justify-content-between">
        <div class="col">
            <img class="img-fluid" src="assets/img/items/Item1.PNG">
        </div>
    </div>
    <div class="row align-items-center no-gutters justify-content-between">
        <div class="col-md-5">
            <h6 class="card-title">Code</h6>
        </div>
        <div  class="col-md-7">
            <h6 id="card-title-id" class="card-title">{{ item.product.code }}</h6>
        </div>
    </div>
    <div class="row align-items-center no-gutters justify-content-between">
        <div class="col-md-5">
            <h6 class="card-title">Description</h6>
        </div>
        <div class="col-md-7">
            <h6 id="card-title-id" class="card-title">{{ item.product.description }}</h6>
        </div>
    </div>
    <div class="row align-items-center no-gutters justify-content-between">
        <div class="col-md-5">
            <h6 class="card-text">Price &euro;</h6>
        </div>
        <div class="col-md-7">
            <h6 id="card-title-id" class="card-title">{{ item.product.price }}</h6>
        </div>
    </div>
    <div class="row align-items-center no-gutters justify-content-between">
        <div class="col-md-5">
            <h6 class="card-text">Stock</h6>
        </div>
        <div class="col-md-7">
            <h6 id="card-title-id" class="card-title">
                <fa-icon id="circle-green"  *ngIf="item.product.stock"  [icon]="faCircle"></fa-icon>
                <fa-icon id="circle-red"   *ngIf="!item.product.stock"  [icon]="faCircle"></fa-icon>
            </h6>
        </div>
    </div>
    <div class="row align-items-center no-gutters justify-content-between">
        <div class="col-md-5">
            <h6 class="card-text">Quantity</h6>
        </div>
        <div class="col-md-7">
            <h6 id="card-title-id" class="card-title">{{ item.quantity }}</h6>
        </div>
    </div>
    <div class="row align-items-center no-gutters justify-content-between">
        <div class="col-md-auto" style="padding-left: 70%;">
            <div>
                <button type="button" class="btn btn-default" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>