 .content {
    padding-top: 0;
} 

a {
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
}
 img.img-logo-horizontal {
    width: 25%;
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: 10%;
}

@media all and (max-width: 768px) {
    .col {
        min-width: 100%;
    }
}

.form-row {
    margin-bottom: 1rem;
}

@media all and (max-width: 768px) {
    .form-row {
        justify-content: center;
    }
}


/* .container {
    width: 100%;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
} */

.widget_text{
    font-size: 12.6px;
    font-stretch: 75%;
    font-weight: 400;
    line-height: 18.9px;
  }

 h3.widget_title {
    font-size: 1.6em;
} 

h3.widget_title2 {
    font-size: 20.16px;
    margin-bottom: 4.5px;
    line-height: 24px;
    margin-left: 0px;
}

p{
    font-size:  0.75rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "TradeGothicLT" !important;
}

.entry_content{
    font-size:  0.75rem;
    font-family: "TradeGothicLT" !important;
}


/* .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #414141;
      color: #fff;
      font-size: 1.4rem;
}
 */

.footer .footer-widget {
   display: block;
   left: 0;
   bottom: 0;
  
   width: 100%;
   background-color: #414141;
   color: #fff;
   font-size: 1.4rem;
  
   margin-top: 0;
   max-height: 45%;
}

/* Small screens */
@media all and (max-width: 500px) {
    .footer {
        position: relative;
    }
}
    

.footer-widget a {
    color: inherit;
}

.svg-inline--fa.fa-w-14 {
   width: .875em
}

 .widget-social{
    margin-left: 0;
    padding-left: 0;
    font-size: 1.5rem;
}

.mr-1{
    margin-right: 5% !important;
}

.showDoubleErrorMessage {
    display: none;
}

@media all and (max-width: 768px) {
    .showDoubleErrorMessage {
        display: block;
    }
}

.last_footer_column {
    padding-left: 0%;
}

/* IPHONE */
@media all and (max-device-width: 481px) {
    .last_footer_column {
        padding-left: 5%;
    }

    .text-right {
        text-align: left;
    }

    img.img-logo-horizontal {
        width: 50%;
        margin-left: 30%;
    }
}

/* IPAD */
@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .last_footer_column {
        padding-left: 15%;
    }

    .text-right {
        text-align: left !important;
    }

    img.img-logo-horizontal {
        width: 50%;
        margin-left: 30%;
    }
}

@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    .text-right {
        text-align: right !important;
    }
}