<div style="margin-top: 5%;">
    <div class="align-items-center justify-content-center">
        <div class="container">

            <form id="confirmOrderForm" [formGroup]="confirmOrderForm" (ngSubmit)="onSubmit()">

                <div class="form-row">
                    <div class="col-md-2"></div>
                    <div Id="step" class="col-md-8 text-center">
                        <h5>{{ 'step3' | translate }}</h5> <!-- STEP 3 di 4 - SALVATAGGIO ORDINE -->
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label for="deliverydate" >{{ 'requestedDeliveryDate' | translate }}</label>
                        <input type="date" class="form-control" id="deliverydate" name="deliverydate" required
                            formControlName="deliverydate">
                        <div *ngIf="deliverydate.invalid && (deliverydate.dirty || deliverydate.touched)"
                            class="alert alert-danger">
                            <div *ngIf="deliverydate.errors.required">
                                <div>{{ 'requestedDeliveryDateRequired' | translate }}</div>
                            </div>

                            <div *ngIf="confirmOrderForm.controls['deliverydate'].hasError('invalidDate')">
                                <div>{{ 'requestedDeliveryDateError' | translate }} </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ errorMessage }}

                <div class="form-row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <label for="note">{{ 'note' | translate }}</label>
                        <textarea type="text" class="form-control md-textarea" id="note" name="note" maxlength="140"
                            formControlName="note">
                        </textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-left">
                        <button class="btn btn-primary" (click)="onCancel()">{{ 'back' | translate }}</button>
                    </div>

                    <div class="col-md-4 text-right">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!confirmOrderForm.valid">{{ 'goToStep4' | translate }}</button>
                    </div>

                    <div class="w-100"></div>
                    <div class="w-100"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>