<div class="align-items-center justify-content-center rcorners1">
    <div class="container">
        <div class="card align-items-center justify-content-center" style="width: 18rem;">

            <img class="img-fluid card-img-top" src="assets/img/items/Item1.PNG" sizes="(max-width: 260px) 100vw, 260px">
            <div class="hoverWrapper">
                <div class="card-body">
                    <ul id="productDetail">
                        <li><p class="card-text">Code {{ item.code }}</p></li>
                        <li><p class="card-text">Description {{ item.description }}</p></li>
                        <li><p class="card-text">Price {{ item.price }}&euro;</p></li>
                        <li>
                            <p class="card-text">Stock 
                                <fa-icon id="circle-green" *ngIf="item.stock" [icon]="faCircle" ></fa-icon>
                                <fa-icon id="circle-red"  *ngIf="!item.stock" [icon]="faCircle"></fa-icon>
                            </p>
                        </li>
                        <li><p *ngIf="item.maxQuantity">maxQuantity{{ item.maxQuantity }}</p></li>
                        <li><p *ngIf="item.minQuantity">minQuantity{{ item.minQuantity }}</p></li>
                        <li>
                            <input type="number"
                            #selectedQuantity
                            class="input-number input-number-adaptive" 
                            step="1" min="0" max="" 
                            name="" value="{{ quantity }}" title="Quantity" size="2" 
                            pattern="[0-9]*" 
                            inputmode="numeric" aria-labelledby=""
                            style="width: 50%">  
                            
                            <fa-icon id="circle-red" [icon]="faShoppingCart" (click)="addProduct(item)">
                            </fa-icon>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>