<div>
  <div class="topnav">
    <span>&nbsp;</span>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
          <a class="nav-link" routerLink="../login" *ngIf="pageToShow != 1">{{ 'login' | translate }}</a>
          <a class="nav-link" routerLink="../register" *ngIf="pageToShow != 2">{{ 'register' | translate }}</a>
          <a class="nav-link" routerLink="../lostCredentials" *ngIf="pageToShow != 3">{{ 'lostCredentials' | translate }}</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <!-- onclick="myFunction()" -->
      <a href="javascript:void(0);" class="icon" (click)="displayMobileMenu()">
        <i class="fa fa-bars"></i>
      </a>
  </div>
</div>