/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-size: 16,2px;
    line-height: 18.9px;
    color: #000;
    text-align: left;
    background-color: #fff;
}

body, input, div, p, a {
    font-family: "Trade Gothic LT ProCn",-apple-system,BlinkMacSystemFont,"tradegothiclt", sans-serif, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    /* font-family: SimSun !important; */
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Trade Gothic LT W01 Bd CnNo-20' !important;
}

.btn, .btn-primary.disabled, .btn-primary:disabled {
    text-transform: uppercase;
    border-radius: 0;
    background-color: #dc3545;
    border-color: #dc3545;
    border: 2px solid transparent;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.form-control {
    border: 2px solid #ced4da;
    background-color: #fff;
    color: #495057;
    border-radius: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #818181;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(65,65,65,0.25);
}

/*
a {
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
}
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
