<div id="order" class="row list-orders">
     <!--<div  class="col-1 description_column" style="padding-top: 0.5%">
         <input type="checkbox" /> 
    </div>-->
    <div  class="col-4 description_column" style="text-align: left;   margin: auto; padding-left: 2.7%">
        <span>{{ order.product.code}} - {{ order.product.description}}</span>
    </div>
    <div  class="col-2 price_column" style="margin: auto; text-align: right;" >
        <span>{{ getPrice(order.product.price) }} {{ order.product.currency }}</span>
    </div>
    <div  class="col-1 quantity_column" style="margin: auto;" >
        <span><input type="number" 
            id="qty"
            step="1" min="0" max="9999" name=""
            value="{{ order.quantity }}" title="Quantity" size="2" pattern="[0-9]*"
            inputmode="numeric" aria-labelledby=""
            (input)="onChangeQuantity($event.target.value)"> {{ order.product.meins }}</span>
    </div>
    <div  class="col-2 price_column" style="margin: auto; text-align: right;">
        <span>{{ getPrice(totalPrice) }} {{ order.product.currency }}</span>
    </div>
    <div  class="col-2" style="margin: auto;" >
        <i *ngIf="isError" class="fa fa-exclamation-triangle" style="color: #856404;"></i>
        <i *ngIf="!isError" class="fa fa-check" style="color: #2196F3;"></i>
        <span style="background-color: #856404;">{{ order.error }}</span>
    </div>
    <div  class="col-1 delete-column" style="margin: auto;">
        <button (click)="onDeleteOrder()" style="background-color: transparent;">
            <fa-icon [icon]="faTrash" 
                size="1x">
            </fa-icon>
        </button>
    </div>
</div>