<div id="order" class="row list-orders" >
    <div  class="col-1 description_column" style="padding-top: 0.5%">
        <input type="checkbox" />
    </div>
    <div  class="col-4 description_column"  >
        <span>{{ order.product.code}} - {{ order.product.description}}</span>
    </div>
    <div  class="col-2 price_column" style="padding-top: 1%" >
        <span>{{ order.product.price}} {{ order.product.currency }}</span>
    </div>
    <div  class="col-2 quantity_column" style="padding-top: 0.5%" >
        <span><input type="number" 
            id="qty"
            step="1" min="0" max="9999" name=""
            value="{{ order.quantity }}" title="Quantity" size="2" pattern="[0-9]*"
            inputmode="numeric" aria-labelledby=""
            (input)="onChangeQuantity($event.target.value)"> {{ order.product.meins }}</span>
    </div>
    <div  class="col-2 price_column" style="padding-top: 1%"  >
        <span>{{ totalPrice }} {{ order.product.currency }}</span>
    </div>
    <div  class="col-1 delete-column" style="padding-top: 0.5%">
        <button (click)="onDeleteOrder()" style="background-color: transparent;">
            <fa-icon [icon]="faTrash" 
                size="1x">
            </fa-icon>
        </button>
    </div>
</div>