<div id="section-card-comp"class="align-items-center justify-content-center rounded">
    <div id="section-container"class="container" *ngIf="displayItem">
        <div id="section-card" class="card align-items-center justify-content-center hoverWrapper" style="width: 18rem;">
              <a class="nav-link" (click)="openSpecificProspective()">
                <!--<img class="img-fluid card-img-top" src="assets/img/items/SectionNoBorder.PNG" sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">-->
                <!--<img id="genericPic{{item.code}}{{item.family}}" *ngIf="thumbnail" class="img-fluid card-img-top" id='pic' [src]='thumbnail' sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">-->
                <!-- <ng-template #other_content>"No picture" image to be added here</ng-template> -->
                <!--<div *ngIf="svgThumbnail">
                  <img id="svg{{item.code}}{{item.family}}" [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/svg+xml;base64, '+ svgThumbnail)" sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">
                </div>-->
                <img id="genericPic{{item.code}}{{item.family}}" style="display: none;">
                <img *ngIf="displayNoImage" class="img-fluid card-img-top" src="assets/img/items/No_Image_available.png" sizes="(max-width: 260px) 100vw, 260px" width="260" height="260">
                <div class="card-body">
                    <h6 class="card-title">{{ item.description }}</h6>
                    <h6 id="code-card-title-id"><!--({{ item.code }})-->&nbsp;</h6>
                </div>
            </a>
        </div>
    </div>
</div>
<style>
  .modal{
    display:flex !important;
    border: solid 4px blue;
    top:2%;
  }
  
  .my-modal {
    border: solid 4px blue;
    width: 250%;
    left: -75%;
  }
  
  .modal-header {
    background-color: lime;
    width: 250%;
    left: -75%;
  }
  
  .modal-body {
    background-color: #ffffff;
    width: 270%;
    left: -85%;
  }
</style>
<ng-template #template class="myClass">
  <div class="">
    <div class="modal-body">
        <div><button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">    
          <span aria-hidden="true">×</span>
        </button>
        </div>
        <div style="background-color: #ffffff;">
            <app-prospetive-card [item]=(item)></app-prospetive-card>
        </div>
        <!--<div class="row" style="margin-left: 70%; margin-top: 1%">
            <div class="button-close-container"><div class="button-close-class"><button type="button" (click)="bsModalRef.hide()" class="button-close-class">CLOSE</button></div></div>
        </div>-->
    </div>
  </div>
  </ng-template>